.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f4f49ee;
  color: #ffffff;
  padding: 0 10px;
  height: 80px;
  flex-wrap: wrap;
  gap: 10px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1 1 auto;
}

.logo {
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: -2px;
}

.btn-icons{
  background: none;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
}

.notification-badge {
  position: absolute;
  top: 3px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 0.75rem;
}

.logout-btn {
  background-color: #00695c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #004d40;
}
.menu-notif {
  position: absolute;
  top: 70px;
  right: 100px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 10px;
  width: 200px;
}

.menu-notif table {
  width: 100%;
  border-collapse: collapse;
}
/* .menu-notif th {
  
  
} */
.menu-notif ul {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.menu-notif li p {
  margin: 0;
  font-weight: bold;
}
.menu-notif li span {
  display: block;
  font-size: 0.9rem;
  color: #555;
}


/* Responsive */
@media screen and (max-width: 768px) {
  .header {
    flex: 1;
    align-items: center;
    height: auto;
    padding: 10px;
  }

  .header-left {
    margin-bottom: 10px;
  }

  /* .header-icons {
    

  }

  .header-title {
    font-size: 1.2rem;
  } */
}
